#cocktail-generator-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 30px;
}

#cocktail-generator-page-container > h1 {
  color: #ffffff;
}

#cocktail-generator-page-headline {
  font-family: "Lobster", cursive;
}

#cocktail-generator-page-p {
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
  font-size: 26px;
}
