.all-form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 350px;
  justify-content: space-around;
}

.form-sides-container {
  display: flex;
  justify-content: space-around;
}
.form-one-side-container {
  display: flex;
  flex-direction: column;
}

.form-second-side-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.label-input-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.label-input-wrap > label,
input {
  margin-bottom: 5px;
  border-radius: 5px;
}

.form-btn-container {
  display: flex;
  justify-content: center;
}

.signup-form-submit-btn,
.label-input-wrap > input {
  align-self: center;
  border-radius: 5px;
  border: solid 2px rgb(217, 202, 129);
}

.signup-form-submit-btn {
  font-size: 18px;
  font-family: "Lobster", cursive;
  letter-spacing: 0.5px;
}

.label-input-wrap > label {
  text-align: center;
  font-size: 20px;
  font-family: "Lobster", cursive;
  letter-spacing: 0.5px;
  text-shadow: 10px rgb(97, 97, 97);
}
.label-input-wrap > input:focus {
  outline: none !important;
  border: solid 2px rgb(217, 202, 129);
  box-shadow: 0 0 10px rgb(217, 202, 129);
}

.signup-form-hidden-no-field-message {
  color: red;
  font-family: "Cuprum", sans-serif;
  text-align: center;
}

.signup-form-required-field {
  color: rgb(211, 3, 3);
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .popup-headline {
    font-size: 46px;
  }
  .all-form-container {
    justify-content: flex-start;
    height: 280px;
  }
}

@media screen and (max-width: 480px) {
  .all-form-container {
    justify-content: space-around;
    height: 400px;
  }
  .form-sides-container {
    flex-direction: column;
  }
  .popup-headline {
    font-size: 40px;
  }
  .popup-h5 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .signin-form-submit-btn,
  .label-input-wrap > input {
    height: 20px;
    margin: 0px;
    width: 140px;
  }
  .label-input-wrap > label {
    margin: 0px;
  }
  .signup-form-submit-btn {
    margin-top: 20px;
  }
}
