.similiar-cocktails-comp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 75px;
  flex-direction: column;
}

.similiar-cocktails-container {
  color: rgb(0, 0, 0);
  display: flex;
  background-color: rgb(195, 179, 99);
  width: 60%;
  height: 300px;
  border-radius: 10px;
}

.similiar-cocktails-container {
  overflow-x: scroll;
}

.similiar-cocktails-comp h1 {
  font-family: "Lobster", cursive;
  color: rgb(195, 179, 99);
}
